---
http_interactions:
- request:
    method: get
    uri: http://api.worldoftanks.ru/2.0/account/list/?application_id=171745d21f7f98fd8878771da1000a31&language=en&search=serioja90&type=exact
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - 2.19.0
      Content-Language:
      - en
      Etag:
      - '"1b67c668c5f79415e862097d176d5508"'
    body:
      encoding: UTF-8
      string: '{"status":"ok","count":1,"meta":{"count":1},"data":[{"nickname":"serioja90","id":null,"account_id":231205}]}'
  recorded_at: Thu, 02 Apr 2015 23:13:34 GMT
- request:
    method: get
    uri: http://api.worldoftanks.ru/2.0/account/list/?application_id=171745d21f7f98fd8878771da1000a31&language=en&search=serioja90&type=startswith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - 2.19.0
      Content-Language:
      - en
      Etag:
      - '"1b67c668c5f79415e862097d176d5508"'
    body:
      encoding: UTF-8
      string: '{"status":"ok","count":1,"meta":{"count":1},"data":[{"nickname":"serioja90","id":null,"account_id":231205}]}'
  recorded_at: Thu, 02 Apr 2015 23:17:53 GMT
- request:
    method: get
    uri: http://api.worldoftanks.ru/2.0/account/list/?account_id=231205&application_id=171745d21f7f98fd8878771da1000a31&language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - 2.19.0
    body:
      encoding: UTF-8
      string: '{"status":"error","error":{"field":"search","message":"SEARCH_NOT_SPECIFIED","code":402,"value":null}}'
  recorded_at: Thu, 02 Apr 2015 23:35:46 GMT
recorded_with: VCR 2.9.3
